<div id="navbar">
  <ul>
    <li>Gistboard</li>
    <li>Trala</li>
    <li>Grapefruit</li>   
  </ul>
</div>
<div class="intro-container"> 
  <div class="inner-intro">
    <div class="profile">
      <img alt="Phil Wittig" src="https://secure.gravatar.com/avatar/decc9c6d7d3b75bef50d573647daeb80.png?r=PG&amp;d=mm&amp;s=250" title=
      Phil Wittig">
      <h1>
        Phil Wittig - Software Developer  
      </h1>
    </div> 
    <div class="connect">
      <a target="_blank" href="http://github.com/pdwittig">
        <img alt="Github" src="github.png">
      </a>  
      <a target="_blank" href="http://linkedin.com/in/pdwittig">
        <img alt="Github" src="linkedin.png">
      </a>  
    </div> 
  </div>
</div>
<div class="project-container"></div> 
<div class="project-container"></div>
<div class="project-container"></div>      