<div id="navbar">
  <ul>
    <li>Gistboard</li>
    <li>Trala</li>
    <li>Grapefruit</li>   
  </ul>
</div>
<div class="intro-container"> 
  <div class="inner-intro">
    <div class="profile">
      <img alt="Phil Wittig" src="https://secure.gravatar.com/avatar/decc9c6d7d3b75bef50d573647daeb80.png?r=PG&amp;d=mm&amp;s=250" title=
      Phil Wittig">
      <h1>
        Phil Wittig - Software Developer  
      </h1>
    </div> 
    <div class="connect">
      <a target="_blank" href="http://github.com/pdwittig">
        <img alt="Github" src="github.png">
      </a>  
      <a target="_blank" href="http://linkedin.com/in/pdwittig">
        <img alt="Github" src="linkedin.png">
      </a>  
    </div> 
  </div>
</div>
<div class="projects">
  <div class="project-container row">
    <div class="text-col left">
      <p>
      Trala is a mobile-first, location-based social music app that allows youb to listen to listen to music, with the people nearby in real-time.
      </p>
    </div>
    <div class="text-col right">
      <p>
      Trala is a mobile-first, location-based social music app that allows youb to listen to listen to music, with the people nearby in real-time.
      </p>
    </div>
  </div> 
  <div class="project-container">
    <div class="text-col left">
      <p>
        GistBoard is an app that allows users to see all of their Github Gists in a single place in summary form. GistBoard further puts emphasis on Gists with recent comments so feedback from other users on code snippets are not lost in the shuffle.
      </p>
    </div>
    <div class="text-col right">
      <p>
        GistBoard is an app that allows users to see all of their Github Gists in a single place in summary form. GistBoard further puts emphasis on Gists with recent comments so feedback from other users on code snippets are not lost in the shuffle.
      </p>
    </div>
  </div>
  <div class="project-container"></div>      
</div>
<div class="monitor-container">
  <div class="monitor">
    <img id="monitor" src="monitor.png"></img>
    <div class="monitor-content">
      <div id="trala" class="image-container" >
        <img alt="Trala" src="trala_final.png">
      </div>
      <div id="gistboard" class="image-container">
        <img alt="Gistboard" src="gistboard_final.png">
      </div>
    </div>  
  </div>
